<div class="container-fluid">
  <div class="jumbotron">
    <h4 align="center">....FOOD CENTER..</h4>
  </div>
</div>

<section class="form-group">
  <input type=" search" placeholder="enter food name here....." class="form-control" [(ngModel)]="searchfood">
</section>


<button class="btn btn-sm btn-success" (click)="addFood()">(add foor item)+</button>


<div class="list-group">
  <li class="list-group-item" *ngFor="let f of foodList|filter:searchfood">{{f.food}}
  <span class="badge badge-piils badge-success float-right">{{f.price|currency:'INR'}}</span>  
  </li>
</div>